body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 600px;

    background: rgb(88, 28, 99);
    background: linear-gradient(0deg, rgba(88, 28, 99, 1) 22%, rgba(34, 13, 37, 1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .5rem;
}

.header {
    width: 90%;
}

.text {
    text-align: center;
    color: white;
    font-size: .75rem;
}

.headerTitle {
    margin-top: .5rem;
    text-align: center;
    color: #FECD23;
    font-weight: 500;
}

.voting {
    width: 90%;

    background: rgb(88, 28, 99);
    background: linear-gradient(180deg, rgba(88, 28, 99, 1) 22%, rgba(34, 13, 37, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    margin-top: .5rem;

}

.votingTitle {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: .5rem;
}

.input {
    width: 70%;
    padding: .25rem;
    margin-bottom: 1.25rem;
}

.optionsContainer {
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

.options {
    width: 26%;
    height: 100%;

    background: rgb(67, 105, 240);
    background: linear-gradient(180deg, rgba(67, 105, 240, 1) 0%, rgba(113, 202, 254, 1) 100%);
    border: solid .5rem #2A33C3;
    border-radius: .4rem;
}